/Target/*

!/Target/release
/Target/release/*

!/Target/release/*.deb
!/Target/release/*.exe
!/Target/release/BinaryRest
!/Target/release/Rest

Documentation/Rust/debug
Documentation/Rust/release
Documentation/Rust/.rustc_info.json
Documentation/Rust/.rustdoc_fingerprint.json
Documentation/Rust/CACHEDIR.TAG
Target/
/build/
/out/
*.js
*.d.ts
.vscode/
.idea/
*.iml
